.App {
  text-align: center;
}

.ListImage {
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.justify-content-center {
  justify-content: center !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}
